html,
body{
    height: 100%;
    width: 100%;
}
body{
    /*display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;*/
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.form{
    width: 100%;
    /*max-width: 420px;*/
    padding: 15px;
    margin: auto;
}
.form-label-group{
    position: relative;
    margin-bottom: 1em;
}
.form-label-group > input, .form-label-group > label{
    height: 3.3rem;
    padding: .75rem;
}
.form-label-group > label{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    color:blue;
    pointer-events: none;
    cursor: text;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
    line-height: .1;
}
.form-label-group input::-webkit-input-placeholder{
    color: transparent;
}
.form-label-group input::-ms-input-placeholder{
    color: transparent;
}
.form-label-group input::-moz-input-placeholder{
    color: transparent;
}
.form-label-group input::placeholder{
    color: transparent;
}
.form-label-group input:not(:placeholder-shown){
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}
.form-label-group input:not(:placeholder-shown) ~ label{
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777777;
}
